<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/Homepage/homepage.css" rel="stylesheet">
    <link href="css/Homepage/all.css" rel="stylesheet">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>广州商学院—大学生创新创业大赛</title>
</head>

<body>
<div class="hp-top-title">
    <div class="container">
        <div class="row">
            <div class="col-md-4 hp-top-title-logo"><img src="img/gzcc.jpg"></div>
            <div class="col-md-5 hp-top-title-title"> 大学生创新创业计划平台</div>
            <div class="col-md-1 hp-top-title-button">
                <button type="button" class="btn btn-success">Sign in</button>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron">
    <img id="jumbotron-img" src="img/hpTitleImg.png">
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" style="left: 10%;">
            <ul class="nav nav-pills nav-stacked nav-tabs" style=" font-size: 22px;width: 300px;text-align: center;">
                <li role="presentation" class="active">
                    <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><span
                            class="glyphicon glyphicon-home"
                            aria-hidden="true"></span>&nbsp;&nbsp;大创简介</a>
                </li>
                <li role="presentation">
                    <a href="#message" aria-controls="message" role="tab" data-toggle="tab"><span
                            class="glyphicon glyphicon-list-alt"
                            aria-hidden="true"></span>&nbsp;&nbsp;通知公告</a>
                </li>
                <li role="presentation">
                    <a href="#project" aria-controls="project" role="tab" data-toggle="tab"><span
                            class="glyphicon glyphicon-tree-deciduous"
                            aria-hidden="true"></span>&nbsp;&nbsp;立项项目</a>
                </li>
                <li role="presentation">
                    <a href="#news" aria-controls="news" role="tab" data-toggle="tab"><span
                            class="glyphicon glyphicon-eye-open"
                            aria-hidden="true"></span>&nbsp;&nbsp;新闻动态</a>
                </li>
                <li role="presentation">
                    <a href="#annual" aria-controls="annual" role="tab" data-toggle="tab"><span
                            class="glyphicon glyphicon-glass"
                            aria-hidden="true"></span>&nbsp;&nbsp;创业年会</a>
                </li>
                <li role="presentation">
                    <a href="#study" aria-controls="study" role="tab" data-toggle="tab"><span
                            class="glyphicon glyphicon-education"
                            aria-hidden="true"></span>&nbsp;&nbsp;创业学习园地</a>
                </li>
            </ul>
        </div>
        <div class="col-md-8" style="left: 10%;">
            <div class="tab-content content">
                <div class="tab-pane active" id="profile">
                    <div class="profile-title text">
                        关于开展大学生创新创业训练计划
                    </div>
                    <div class="all-content">
                        &nbsp;&nbsp;&nbsp;&nbsp;遵照“兴趣驱动、自主实践、重在过程”的原则进行立项建设，鼓励学生开展创新创业训练和实践，组织符合条件的团队报名参加“互联网+”大学生创新创业大赛、学校大学生创新创业大赛等赛事和“青年红色筑梦之旅”活动，提升大学生创新精神、创业意识和创新创业能力。
                        <br> &nbsp;&nbsp;&nbsp;&nbsp;大创项目类型分为创新训练项目、创业训练项目和创业实践项目三类。<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.创新训练项目是学生个人或团队在导师指导下，自主完成创新性研究项目设计、研究条件准备和项目实施、研究报告撰写、成果（学术）交流等工作。
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.创业训练项目是学生团队在导师指导下，每个学生在项目实施过程中扮演一个或多个具体的角色，通过编制商业计划书、开展可行性研究、模拟企业运行、参加企业实践、撰写创业报告等工作而进行创业训练。
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.创业实践项目是学生团队在学校导师和企业导师共同指导下，采用前期创新研究的成果，提出一项具有市场前景的创新性产品或者服务，以此为基础开展创业实践活动。
                    </div>
                </div>

                <div class="tab-pane" id="message">
                    <div class="message-title text">
                        通知公告
                    </div>
                    <div class="all-content" id="message1">
                        <table class="table table-hover" >
                            <tbody>
                            <template>
                            <tr v-for="(message,index) in message" v-if="index<5"  @click="getMessageId(message.id)">
                            <td><a href="hpMessageDetail.html"> {{message.title}}</a></td>
                            <td>&nbsp;&nbsp;&nbsp;</td>
                            <td>{{message.createTime|formatDate}}</td>
                            </tr>
                            <tr style="text-align: center">
                                <td><a href="">更多...</a></td>
                            </tr>
                            </template>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane" id="project">
                    <div class="message-title text">
                        关于2019年大创立项项目的公示
                    </div>
                    <div class="all-content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="project-size project-font col-xs-6 col-md-4">
                                    <table class="table border" id="CXXLTitle">
                                        <thead>
                                        创新训练项目
                                        </thead>
                                        <tbody>
                                        <tr v-for="(CXXLProject,index) in CXXLProjects " v-if="index<5"  @click="getCXXLLXId(project.id)>
                                            <td>
                                                <a href="hpMessageDetail.html">
                                                    {{CXXLProject.name}}
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                               <a href=""> ...</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="project-size project-font col-xs-6 col-md-4">
                                    <table class="table border" id="CYXLTitle">
                                        <thead>
                                        创业训练项目
                                        </thead>
                                        <tbody>
                                        <tr v-for="(CYXLProject,index) in CYXLProjects" v-if="index<5" @click="getCYXLLXId(project.id)">
                                            <td>
                                                <a href="hpMessageDetail.html">
                                                    {{CYXLProject.name}}
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="">...</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="project-size project-font col-xs-6 col-md-4">
                                    <table class="table border" id="CYSJTitle">
                                        <thead>
                                        创业实践项目
                                        </thead>
                                        <tbody>
                                        <tr v-for="(CYSJProject,index) in CYSJProjects "v-if="index<5"  @click="getCYSJLXId(project.id)">
                                            <td>
                                                <a href="hpMessageDetail.html">
                                                    {{CYSJProject.name}}
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                               <a href=""> ...</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="news">
                    <div class="message-title text">
                        新闻动态
                    </div>

                    <div class="all-content">
                        <div class="container">
                            <div class="row news-margin">
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <img class="news-img" src="img/news.jpg">
                                        </div>
                                        <div class="col-md-6">国际学院学生赴阿德莱德大学参加海外语言教学实践活动</div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <img class="news-img" src="img/news.jpg">
                                        </div>
                                        <div class="col-md-6">国际学院学生赴阿德莱德大学参加海外语言教学实践活动</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row news-margin">
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <img class="news-img" src="img/news.jpg">
                                        </div>
                                        <div class="col-md-6">国际学院学生赴阿德莱德大学参加海外语言教学实践活动</div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <img class="news-img" src="img/news.jpg">
                                        </div>
                                        <div class="col-md-6">国际学院学生赴阿德莱德大学参加海外语言教学实践活动</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row news-margin">
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <img class="news-img" src="img/news.jpg">
                                        </div>
                                        <div class="col-md-6">国际学院学生赴阿德莱德大学参加海外语言教学实践活动</div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <img class="news-img" src="img/news.jpg">
                                        </div>
                                        <div class="col-md-6">国际学院学生赴阿德莱德大学参加海外语言教学实践活动</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="annual">
                    <div class="message-title text">
                        创业年会
                    </div>
                    <div class="all-content">
                        <div class="container">
                            <div class="row news-margin">
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <img class="news-img" src="img/news.jpg">
                                        </div>
                                        <div class="col-md-6">国际学院学生赴阿德莱德大学参加海外语言教学实践活动</div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <img class="news-img" src="img/news.jpg">
                                        </div>
                                        <div class="col-md-6">国际学院学生赴阿德莱德大学参加海外语言教学实践活动</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row news-margin">
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <img class="news-img" src="img/news.jpg">
                                        </div>
                                        <div class="col-md-6">国际学院学生赴阿德莱德大学参加海外语言教学实践活动</div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <img class="news-img" src="img/news.jpg">
                                        </div>
                                        <div class="col-md-6">国际学院学生赴阿德莱德大学参加海外语言教学实践活动</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row news-margin">
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <img class="news-img" src="img/news.jpg">
                                        </div>
                                        <div class="col-md-6">国际学院学生赴阿德莱德大学参加海外语言教学实践活动</div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <img class="news-img" src="img/news.jpg">
                                        </div>
                                        <div class="col-md-6">国际学院学生赴阿德莱德大学参加海外语言教学实践活动</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="study">
                    <div class="message-title text">
                        学习园地
                    </div>
                    <div class="all-content">
                        <div class="container">
                            <div class="row news-margin">
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <img class="news-img" src="img/news.jpg">
                                        </div>
                                        <div class="col-md-6">国际学院学生赴阿德莱德大学参加海外语言教学实践活动</div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <img class="news-img" src="img/news.jpg">
                                        </div>
                                        <div class="col-md-6">国际学院学生赴阿德莱德大学参加海外语言教学实践活动</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row news-margin">
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <img class="news-img" src="img/news.jpg">
                                        </div>
                                        <div class="col-md-6">国际学院学生赴阿德莱德大学参加海外语言教学实践活动</div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <img class="news-img" src="img/news.jpg">
                                        </div>
                                        <div class="col-md-6">国际学院学生赴阿德莱德大学参加海外语言教学实践活动</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row news-margin">
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <img class="news-img" src="img/news.jpg">
                                        </div>
                                        <div class="col-md-6">国际学院学生赴阿德莱德大学参加海外语言教学实践活动</div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <img class="news-img" src="img/news.jpg">
                                        </div>
                                        <div class="col-md-6">国际学院学生赴阿德莱德大学参加海外语言教学实践活动</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

<br>
<br>
<hr>
<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-7" style="left: 10%;">
            <div class="yx-title">
                <img src="img/yx-title.PNG">
            </div>
            <hr style="width: 700px;float: left;">
            <div class="all-content">
                <div class="container">
                    <div class="row" style="width: 700px;">
                        <div class="project-size project-font col-xs-6 col-md-4">
                            <table class="table border" id="CXXLTitle_jx">
                                <thead>
                                创新训练项目
                                </thead>
                                <tbody>
                                <tr v-for="(CXXLProject_jx,index) in CXXLProjects_jx " v-if="index<5"  @click="getCXXLJXId(project.id)">
                                    <td>
                                        <a href="hpMessageDetail.html">
                                            {{CXXLProject_jx.name}}
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="">...</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="project-size project-font col-xs-6 col-md-4">
                            <table class="table border" id="CYXLTitle_jx">
                                <thead>
                                创业训练项目
                                </thead>
                                <tbody>
                                <tr v-for="(CYXLProjects_jx,index) in CYXLProjects_jx " v-if="index<5"  @click="getCYXLJXId(project.id)">
                                    <td>
                                        <a href="hpMessageDetail.html">
                                            {{CYXLProjects_jx.name}}
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="">...</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="project-size project-font col-xs-6 col-md-4">
                            <table class="table border" id="CYSJTitle_jx">
                                <thead>
                                创新训练项目
                                </thead>
                                <tbody>
                                <tr v-for="(CYSJProjects_jx,index) in CYSJProjects_jx " v-if="index<5"  @click="getCYSJJXId(project.id)">
                                    <td>
                                        <a href="hpMessageDetail.html">
                                            {{CYSJProjects_jx.name}}
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="">...</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-5">
            <div class="yqlj-title">
                <img src="img/yqlj-title.PNG">
            </div>
            <hr style="width: 350px;float: left;">
            <div class="yqlj">
                <table class="table yqlj-text">
               <tr>
                   <td>
                       <a href="http://www.gzcc.cn/"><span><img class="yqlj-img" src="img/gzcc-yqlj.png"></span>&nbsp;&nbsp;广州商学院</a>
                   </td>
               </tr>
                <tr>
                    <td>
                        <a href="http://www.cnki.net/"><span ><img class="yqlj-img" src="img/zw-yqlj.png"> </span>&nbsp;&nbsp;中国知网</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="http://www.chuangqingchun.net/about"><span ><img class="yqlj-img" src="img/cqc-yqlj.PNG"></span>&nbsp;&nbsp;创青春</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="http://club.kingdee.com/club/newclub/newCreative"><span ><img class="yqlj-img" src="img/cxb-yqlj.PNG"></span>&nbsp;&nbsp;创新杯</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="http://cyds.job168.com/"><span ><img class="yqlj-img" src="img/zcb-yqlj.PNG"></span>&nbsp;&nbsp;众创杯</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="http://www.cxcyds.com/"><span ><img class="yqlj-img"  src="img/zgcx-yqlj.PNG"></span>&nbsp;&nbsp;中国创新大赛</a>
                    </td>
                </tr>
            </table>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="message-title text" style="margin-bottom: 30px">
    <img src="img/cyrw-title.PNG">
</div>

<div class="cyrw-content">
    <div class="cyrw">
        <img class="cxrw-img" src="img/cxrw-img1.jpg">
        <div class="cxrw-text1">
            汤唯，1979年10月7日出生于浙江杭州，华语影视女演员，毕业于中央戏剧学院导演系本科。
        </div>
    </div>
    <div class="cyrw">
        <img class="cxrw-img" src="img/cxrw-img1.jpg">
        <div class="cxrw-text1">
            汤唯，1979年10月7日出生于浙江杭州，华语影视女演员，毕业于中央戏剧学院导演系本科。
        </div>
    </div>
    <div class="cyrw">
        <img class="cxrw-img" src="img/cxrw-img1.jpg">
        <div class="cxrw-text1">
            汤唯，1979年10月7日出生于浙江杭州，华语影视女演员，毕业于中央戏剧学院导演系本科。
        </div>
    </div>
    <div class="cyrw">
        <img class="cxrw-img" src="img/cxrw-img1.jpg">
        <div class="cxrw-text1">
            汤唯，1979年10月7日出生于浙江杭州，华语影视女演员，毕业于中央戏剧学院导演系本科。
        </div>
    </div>
    <div class="cxrw-more cyrw">
        <a href=""><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>&nbsp;&nbsp;更多</a>
    </div>
</div>

<br><br><br><br><br><br>
<footer style="background-color: cadetblue ;text-align: center">
    <p>
        版权所有：创序工作室
    </p>
    <p>
        地址：广州市黄埔区九龙镇九龙大道广州商学院创客空间
    </p>
    <p>
        联系电话：123456789
    </p>
</footer>


<script src="js/jquery-3.3.1.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script  src="js/homepage.js"></script>

</body>
</html>