<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.incubationplatform.dao.MessageDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.incubationplatform.pojo.Message">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="source" property="source" />
        <result column="classification" property="classification" />
        <result column="title_image" property="titleImage" />
        <result column="status" property="status" />
        <result column="author_id" property="authorId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, content, source, classification, title_image, status, author_id, create_time
    </sql>

</mapper>
