<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.incubationplatform.dao.NoticeDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.incubationplatform.pojo.Notice">
        <result column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="receiver_id" property="receiverId" />
        <result column="result" property="result" />
        <result column="informer_id" property="informerId" />
        <result column="create_time" property="createTime" />
        <result column="classification" property="classification" />
        <result column="deline_time" property="delineTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, content, receiver_id, result, informer_id, create_time, classification, deline_time
    </sql>

</mapper>
