<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.incubationplatform.dao.ProjectDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.incubationplatform.pojo.Project">
        <id column="id" property="id" />
        <result column="match_id" property="matchId" />
        <result column="name" property="name" />
        <result column="classification" property="classification" />
        <result column="grade" property="grade" />
        <result column="introduce" property="introduce" />
        <result column="background" property="background" />
        <result column="advantage" property="advantage" />
        <result column="market_analysis" property="marketAnalysis" />
        <result column="technical_factor" property="technicalFactor" />
        <result column="business_model" property="businessModel" />
        <result column="financial_analysis" property="financialAnalysis" />
        <result column="risk_and_constraint" property="riskAndConstraint" />
        <result column="planning_and_vision" property="planningAndVision" />
        <result column="fund_and_budget" property="fundAndBudget" />
        <result column="expected_result" property="expectedResult" />
        <result column="college_opinion_detail" property="collegeOpinionDetail" />
        <result column="college_opinion_handler" property="collegeOpinionHandler" />
        <result column="college_opinion_handler_time" property="collegeOpinionHandlerTime" />
        <result column="applicant_promise_detail" property="applicantPromiseDetail" />
        <result column="applicant_promise_handler" property="applicantPromiseHandler" />
        <result column="applicant_promist_handing_time" property="applicantPromistHandingTime" />
        <result column="university_opinion_detail" property="universityOpinionDetail" />
        <result column="university_opinion_handler" property="universityOpinionHandler" />
        <result column="university_opinion_handing_time" property="universityOpinionHandingTime" />
        <result column="status" property="status" />
        <result column="change_time" property="changeTime" />
        <result column="support_sum" property="supportSum" />
        <result column="is_enable" property="isEnable" />
        <result column="subject_code" property="subjectCode" />
        <result column="award_id" property="awardId" />
        <result column="qq" property="qq" />
        <result column="deadline_time" property="deadlineTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, match_id, name, classification, grade, introduce, background, advantage, market_analysis, technical_factor, business_model, financial_analysis, risk_and_constraint, planning_and_vision, fund_and_budget, expected_result, college_opinion_detail, college_opinion_handler, college_opinion_handler_time, applicant_promise_detail, applicant_promise_handler, applicant_promist_handing_time, university_opinion_detail, university_opinion_handler, university_opinion_handing_time, status, change_time, support_sum, is_enable, subject_code, award_id, qq, deadline_time, create_time
    </sql>

</mapper>
