<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.incubationplatform.dao.ProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.incubationplatform.pojo.Project">
        <id column="id" property="id" />
        <result column="match_id" property="matchId" />
        <result column="name" property="name" />
        <result column="classification" property="classification" />
        <result column="grade" property="grade" />
        <result column="introduce" property="introduce" />
        <result column="background" property="background" />
        <result column="advantage" property="advantage" />
        <result column="market_analysis" property="marketAnalysis" />
        <result column="technical_factor" property="technicalFactor" />
        <result column="business_model" property="businessModel" />
        <result column="financial_analysis" property="financialAnalysis" />
        <result column="risk_and_constraint" property="riskAndConstraint" />
        <result column="planning_and_vision" property="planningAndVision" />
        <result column="fund_and_budget" property="fundAndBudget" />
        <result column="expected_result" property="expectedResult" />
        <result column="college_opinion_id" property="collegeOpinionId" />
        <result column="applicant_promise_id" property="applicantPromiseId" />
        <result column="university_opinion_id" property="universityOpinionId" />
        <result column="team_id" property="teamId" />
        <result column="status" property="status" />
        <result column="change_time" property="changeTime" />
        <result column="support_sum" property="supportSum" />
        <result column="is_enable" property="isEnable" />
        <result column="deadline_time" property="deadlineTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, match_id, name, classification, grade, introduce, background, advantage, market_analysis, technical_factor, business_model, financial_analysis, risk_and_constraint, planning_and_vision, fund_and_budget, expected_result, college_opinion_id, applicant_promise_id, university_opinion_id, team_id, status, change_time, support_sum, is_enable, deadline_time, create_time
    </sql>

</mapper>
