<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.incubationplatform.dao.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.incubationplatform.pojo.Student">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="student_id" property="studentId" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="belong_university" property="belongUniversity" />
        <result column="belong_college" property="belongCollege" />
        <result column="grade" property="grade" />
        <result column="specialty" property="specialty" />
        <result column="clazz" property="clazz" />
        <result column="is_main" property="isMain" />
        <result column="role_id" property="roleId" />
        <result column="create_time" property="createTime" />
        <result column="is_enable" property="isEnable" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, password, student_id, phone, email, belong_university, belong_college, grade, specialty, clazz, is_main, role_id, create_time, is_enable
    </sql>

</mapper>
