.message-title{
    text-align: center;
    font-size: 28px;
    padding-top: 3%;
}
.message-other{
    text-align: center;
    padding-top: 1%;
    text-color: grey;
    font-size: 16px;
}
.message-contant{
    width: 1000px;
    margin: auto;
    font-size: 22px;
    padding-top: 2%;
}

.message-fujian{
    width: 1000px;
    margin: auto;
    font-size: 18px;
    padding: 25px;
}
html, body {
    margin: 0;/*清除默认样式*/
    padding: 0;
    height: 100%;
}