body {
    background: #f2f2f2;
    min-width: 1200px;
    color: #333;
    text-align: left;
    font: 14px/1.8 "-apple-system",BlinkMacSystemFont,"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",Arial,sans-serif;
}
.main-box{
    min-height: 664px;
    margin-bottom: 60px;
}
.blue-bg{
    height: 200px;
    background: #4e7abb;
}
.detail-container{
    width: 820px;
    margin: -150px auto 0;
    background: #fff;
    border-radius: 4px;
    min-height: 600px;
    padding: 30px 90px;
}
.detail-container .park-info {
    text-align: center;
    margin-bottom: 20px;
}

.detail-container p {
    font-size: 14px;
    color: #666;
    line-height: 24px;
    margin-bottom: 12px;
}
.content-box {
    overflow: hidden;
}
.detail-container h2 {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
}